[class*='col-'] {
    margin-bottom: 15px;
}
body {
    overflow: hidden;
}
.main-container {
    height: 100%;
    padding-top: 50px;
}
.navbar {
    position: fixed;
    width: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    padding-top: 20px;
}
#statusBtnStart {
    width: 250px;
    height: 120px;
}

@media screen and (max-width: 1600px) {
    #statusBtnStart {
        width: 180px;
        height: 100px;
    }
}

@media screen and (max-width: 1200px) {
    #statusBtnStart {
        width: 160px;
        height: 100px;
    }
}

@media screen and (max-width: 1000px) {
    #statusBtnStart {
        width: 120px;
        height: 100px;
    }
}


.btn.active {
    box-shadow: none !important;
}
.btn-outline-primary.active, .btn-outline-primary:active {
    color: white !important;
}

#customMinutesInput {
    /* width: 150px; */
}

#keyToPress {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

.customTitleRemove {
    font-size: 0.7em;
    float: right; 
    opacity: 0;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
}
.eachTitleContainer:hover > .col > .customTitleRemove{
    opacity: 1;
}
.eachTitleContainer {
    padding: 5px;
}

/* 
============================
Electron 
============================ 
*/

/* Scroll-wrapper */

.scroll-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll-wrapper::-webkit-scrollbar {
    width: 12px;
    background-color: #343a40;
}
 
.scroll-wrapper::-webkit-scrollbar-track {
    margin: 25px 0 25px 0;
}
 
.scroll-wrapper::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #343a40; 
}
.scroll-wrapper::-webkit-scrollbar-thumb:window-inactive {
	background: #343a40; 
}
.scroll-wrapper:hover::-webkit-scrollbar-thumb {
    background: #292e33;
}